{% extends 'base.html' %}
{% block title %}About - Geomancer{% endblock %}
{% block content %}

<div class='col-md-3'>
  <div class='well'>
    <h3>About</h3>
    <ol>
      <li><a href='#what-is-this'>What is this?</a></li>
      <li><a href='#data-policy'>Data policy</a></li>
      <li><a href='#api'>API</a></li>
      <li><a href='#code'>We're open source!</a></li>
      <li><a href='#team-and-credits'>Team and credits</a></li>
      <li><a href='#contact-us'>Contact us</a></li>
    </ol>
  </div>
</div>
<div class="col-md-9">
  <h3 id='what-is-this'>What is this?</h3>
  <p><strong>Geomancer</strong> is a project with a simple goal: to create a prototype tool that will help journalists easily mash up data based on shared geography.</p>

  <p>It’s such a common task for data-savvy journalists that it’s easy to underestimate the difficulty. But on deadline, it can become daunting. It requires locating the right data set to provide context, getting it into shape and into place to join it with the data in hand and then merging the two data sets — all before the reporter can even get started with the analysis.</p>

  <p>We aim to take some of that complexity out of the way by providing an intuitive interface to discover available data sets for a given geography and supplement the data in hand with the relevant values. We’ll know it’s working when it appears too easy.</p>

  <p><a href='http://geomancer.ap.org/'>Read more on the Geomancer blog ></a></p>

  <h3 id='data-policy'>Data policy</h3>

  <p>Uploading your data to our server is necessary for Geomancer to work. We do not, however, store any of it permenantly. All processing is done in memory, so when you end your session, your uploaded data will automatically be deleted.</p>

  <p><strong>Please note</strong>: Do not upload any sensitive data to this site! If you have sensitive data that you want to use with Geomancer, look in to <a href='https://github.com/associatedpress/geomancer-deploy'>setting up your own instance</a>.</p>

  <h3 id='api'>API (for the nerds)</h3>

  <p><strong></strong> If you want to access Geomancer programatically, we have an API for you! The Geomancer API can be used to list the geographic types and data sources we support and <strong>geomance</strong> posted spreadsheets.</p>

  <p>A few things to know:</p>

  <ul>
    <li>All API calls should be made with <code>HTTP GET</code> or <code>HTTP POST</code></li>
    <li>All API responses are in <a href='http://www.json.org/'>JSON format</a>.</li>
    <li>All methods are accessed via: <code>http://geomancer.io/api/SOME-ENDPOINT</code></li>
  </ul>

  <h4>Endpoints</h4>

  <div class="panel-group" id="accordion-api-data-sources">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-api-data-sources" href="#collapse-api-data-sources" id="api-data-sources">
        <a>
          <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
          <span class='label label-info'>GET</span>
          <strong><code>/api/data-sources/</code></strong>
          <p class='pull-right'><small>list all available data sources</small></p>
          <div class='clearfix'></div>
        </a>
      </div>
      <div id="collapse-api-data-sources" class="panel-collapse collapse">
        <div class="panel-body">
          <p>This returns all available data sources and tables in Geomancer.</p>

          <p><strong>Query Parameters</strong></p>
          <p>All query parameters are optional.</p>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Default value</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>geo_type</code></strong></td>
                <td>none</td>
                <td>Filter the data sources by a specific geography type. See <strong><code>/api/geo-types/</code></strong> for the full list of options.</td>
              </tr>
            </tbody>
          </table>

          <p><strong>Response</strong></p>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>machine_name</code></strong></td>
                <td>Name of data source</td>
              </tr>
              <tr>
                <td><strong><code>description</code></strong></td>
                <td>Data source description</td>
              </tr>
              <tr>
                <td><strong><code>info_url</code></strong></td>
                <td>Link to more information on data source</td>
              </tr>
              <tr>
                <td><strong><code>base_url</code></strong></td>
                <td>API url root</td>
              </tr>
              <tr>
                <td><strong><code>data_types</code></strong></td>
                <td>
                  <table class='table table-bordered'>
                    <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong><code>count</code></strong></td>
                        <td>Number of tables in data source</td>
                      </tr>
                      <tr>
                        <td><strong><code>source_name</code></strong></td>
                        <td>Name of data source</td>
                      </tr>
                      <tr>
                        <td><strong><code>description</code></strong></td>
                        <td>Description of table</td>
                      </tr>
                      <tr>
                        <td><strong><code>geo_types</code></strong></td>
                        <td>Geographic types supported</td>
                      </tr>
                      <tr>
                        <td><strong><code>source_url</code></strong></td>
                        <td>API endpoint for this table</td>
                      </tr>
                      <tr>
                        <td><strong><code>table_id</code></strong></td>
                        <td>API unique identifier of table</td>
                      </tr>
                      <tr>
                        <td><strong><code>human_name</code></strong></td>
                        <td>Friendly name of table</td>
                      </tr>
                      <tr>
                        <td><strong><code>columns</code></strong></td>
                        <td>List of columns that will be added from this table</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='well examples'>
            <p><strong>Example</strong></p>
            <p>
              <a href='/api/data-sources'>http://geomancer.io/api/data-sources/</a><br />
              Returns a list of data sources and tables in Geomancer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion-api-geo-types">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-api-geo-types" href="#collapse-api-geo-types" id="api-geo-types">
        <a>
          <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
          <span class='label label-info'>GET</span>
          <strong><code>/api/geo-types/</code></strong>
          <p class='pull-right'><small>list all supported geographic types</small></p>
          <div class='clearfix'></div>
        </a>
      </div>
      <div id="collapse-api-geo-types" class="panel-collapse collapse">
        <div class="panel-body">
          <p>This returns all supported geographic types and related data sources in Geomancer.</p>

          <p><strong>Query Parameters</strong></p>
          <p>All query parameters are optional.</p>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Default value</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>geo_type</code></strong></td>
                <td>none</td>
                <td>Geography type. Used to fetch a single geographic type and related data sources.</td>
              </tr>
            </tbody>
          </table>

          <p><strong>Response</strong></p>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>machine_name</code></strong></td>
                <td>Name of geographic type</td>
              </tr>
              <tr>
                <td><strong><code>human_name</code></strong></td>
                <td>Friendly name of geographic type</td>
              </tr>
              <tr>
                <td><strong><code>formatting_notes</code></strong></td>
                <td>Instructions on expected format for this geographic type</td>
              </tr>
              <tr>
                <td><strong><code>formatting_example</code></strong></td>
                <td>Example of properly formatted geographic type</td>
              </tr>
              <tr>
                <td><strong><code>tables</code></strong></td>
                <td>
                  <table class='table table-bordered'>
                    <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong><code>count</code></strong></td>
                        <td>Number of tables in data source</td>
                      </tr>
                      <tr>
                        <td><strong><code>human_name</code></strong></td>
                        <td>Friendly name of table</td>
                      </tr>
                      <tr>
                        <td><strong><code>table_id</code></strong></td>
                        <td>API unique identifier of table</td>
                      </tr>
                      <tr>
                        <td><strong><code>source_name</code></strong></td>
                        <td>Name of data source</td>
                      </tr>
                      <tr>
                        <td><strong><code>source_url</code></strong></td>
                        <td>API endpoint for this table</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='well examples'>
            <p><strong>Example</strong></p>
            <p>
              <a href='/api/geo-types'>http://geomancer.io/api/geo-types/</a><br />
              Returns a list of all supported geographic types and related data sources in Geomancer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion-api-geomance">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-api-geomance" href="#collapse-api-geomance" id="api-geomance">
        <a>
          <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
          <span class='label label-success'>POST</span>
          <strong><code>/api/geomance/</code></strong>
          <p class='pull-right'><small>run geomancer on a posted file</small></p>
          <div class='clearfix'></div>
        </a>
      </div>
      <div id="collapse-api-geomance" class="panel-collapse collapse">
        <div class="panel-body">

          <p>Once you've figured out what geographic types and data sources you want to use, you can <strong>geomance</strong> a spreadsheet via an API call by posting a file and a JSON configuration as a <code>multipart POST</code>.</p>

          <p>Once a task is started, geomancer will start processing the request and give you back a link to your file with the additional columns by polling the <strong><code>/api/geomance-results/&lt;session_key&gt;/</code></strong> endpoint.</p>

          <p><strong>Post Parameters</strong></p>

          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Default value</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>file</code></strong></td>
                <td>none</td>
                <td>Must be in CSV, XLS or XLSX format. See more on <a href='/upload-formats/'> spreadsheet formatting</a></td>
              </tr>
              <tr>
                <td><strong><code>form</code></strong></td>
                <td>none</td>
                <td>

                  Field definitions in a string encoded JSON blob like so:</p>
<pre>
{
  10: {
    'type': 'city_state',
    'append_columns': ['total_population', 'median_age']
  }
}
</pre>
          <p>The key is the zero-indexed position of the columns within the posted spreadsheet.</p>

          <p>The value is a dict containing the geographic type and the columns to append. The values in that list can be fetched from <strong><code>/api/data-sources/</code></strong> and <strong><code>/api/geo-type/</code></strong>.</p>

          <p>You can also match on two columns. To do so, separate the column indexes and geotypes with a semicolon like so: </p>

<pre>
{
  10;2: {
    'type': 'city;state',
    'append_columns': ['total_population', 'median_age']
  }
}
</pre>
          <p>In this example, column 10 contains the <code>city</code> and column 2 contains the <code>state</code>.</p>

                </td>
              </tr>
            </tbody>
          </table>

          <p><strong>Response</strong></p>
          <p>Responds with a key that can be used to poll for results.</p>

          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>session_key</code></strong></td>
                <td>Unique identifier of a task. Poll the <strong><code>/api/geomance-results/&lt;session_key&gt;/</code></strong> endpoint to get your result and see when the task finishes</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion-api-geomance-results">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-api-geomance-results" href="#collapse-api-geomance-results" id="api-geomance-results">
        <a>
          <i class="fa fa-chevron-circle-right fa-lg plusminus"></i>
          <span class='label label-info'>GET</span>
          <strong><code>/api/geomance-results/&lt;session_key&gt;/</code></strong>
          <p class='pull-right'><small>query the status of a geomancer task</small></p>
          <div class='clearfix'></div>
        </a>
      </div>
      <div id="collapse-api-geomance-results" class="panel-collapse collapse">
        <div class="panel-body">
          <p><strong>Query Parameters</strong></p>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Default value</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>session_key</code></strong></td>
                <td>none</td>
                <td>Unique identifier of a task. Returned after posting to the <strong><code>/api/geomance/</code></strong> endpoint</td>
              </tr>
            </tbody>
          </table>

          <p><strong>Response</strong></p>
          <p>Responds with a key that can be used to poll for results.</p>

          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><code>ready</code></strong></td>
                <td>Returns <code>true</code> if the task is completed, <code>false</code> otherwise.</td>
              </tr>
              <tr>
                <td><strong><code>result</code></strong></td>
                <td>Link to download your completed file. Only available if <strong><code>ready</code></strong> is <code>true</code></td>
              </tr>
              <tr>
                <td><strong><code>status</code></strong></td>
                <td>Success or failure of task. Only available if <strong><code>ready</code></strong> is <code>true</code></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <h3 id='code'>We're open source!</h3>

  <p>All of the code for this project is open source. You can find, view and fork it <a href='https://github.com/associatedpress/geomancer/'>on GitHub</a>.</p>

  <p>Technologies used:</p>

  <ul>
      <li><a href='http://flask.pocoo.org/'>Flask</a> - web framework</li>
      <li><a href='http://getbootstrap.com'>Bootstrap</a> - HTML/CSS layout</li>
      <li><a href='https://csvkit.readthedocs.org'>csvkit</a> - suite of utilities for converting to and working with CSV</li>
      <li><a href='https://github.com/sunlightlabs/scrapelib'>scrapelib</a> - a library for efficiently fetching data from web sites</li>
      <li><a href='http://redis.io/'>redis</a> - a key-value cache and store system</li>
  </ul>

  <p>We built this as an <strong>open</strong> & <strong>extensible</strong> platform, so that others can adapt this tool to their data needs. If you know how to program in Python, you can contribute new data to Geomancer (otherwise, post your request to our <a href="https://groups.google.com/forum/#!forum/geomancer" target="_blank">Google Group</a>).</p>

  <a href="{{ url_for('views.contribute_data') }}" class="btn btn-success btn-sm">See documentation for contributing data &gt;</a>

  <h3 id='team-and-credits'>Team and credits</h3>

  <p>Geomancer is a project of <a href='http://ap.org'>Associated Press</a> and was implemented by <a href='http://datamade.us'>DataMade</a>, a civic technology company. We are: </p>
  <ul>
  	<li><a href='https://github.com/tthibo'>Troy Thibodeaux</a>, Associated Press</li>
    <li><a href='https://github.com/derekeder'>Derek Eder</a>, DataMade</li>
    <li><a href='https://github.com/cathydeng'>Cathy Deng</a>, DataMade</li>
    <li><a href='https://github.com/evz'>Eric van Zanten</a>, DataMade</li>
  </ul>

  <h3 id='contact-us'>Contact us</h3>

  <p>
    Have a question for us or having trouble using Geomancer? <a href='https://groups.google.com/forum/#!forum/geomancer'>Join our Google Group</a>.
  </p>

  <p>
    Notice a bug or want to contribute to this project? <a href='https://github.com/associatedpress/geomancer'>Get involved on GitHub</a>.
  </p>
</div>

{% endblock %}

{% block extra_javascript %}
  <script>
    $(document).ready(function() {
      $(".plusminus").parent().parent().click(function () {
        console.log($(this).parent().children().eq(1))
        if ($(this).parent().children().eq(1).hasClass("panel-collapse collapse")){
          $(this).find('i').removeClass("fa-chevron-circle-right").addClass("fa-chevron-circle-down");
        } else{
          $(this).find('i').removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-right");
        }
      });
    });
  </script>
{% endblock %}