{% extends 'base.html' %}
{% block title %}Contribute data - Geomancer{% endblock %}
{% block content %}

<div class="col-md-12">
  <h1>How to contribute data sources to Geomancer</h1>
  <p>
      Do you have a data source you'd like to add to <strong>Geomancer</strong>?
      We built this as an open, extensible platform, so anyone can contribute.
      If you know how to program in Python, you can add your own data source using the
      instructions below. Otherwise, post your request to our
      <a href="https://groups.google.com/forum/#!forum/geomancer" target="_blank">Google Group</a>.
  </p>
  <hr />
  <h3>Step 1: Fork and setup Geomancer</h3>

  <p>First, <a href='https://github.com/associatedpress/geomancer/fork'><i class='fa fa-code-fork'></i> fork</a> the <a href='https://github.com/associatedpress/geomancer'>geomancer repository</a>. This requires a <a href='https://github.com'>GitHub account</a>.</p>

  <p>Next, follow the <a href='https://github.com/associatedpress/geomancer#setup'>setup instructions</a> to get Geomancer working on your local machine.</p>

  <h3>Step 2: Create a new <code>BaseMancer</code> class</h3>
  <p>
      Geomancer implements a base class that establishes a pattern for setting up a new data source.
      Simply inherit from that class and override a few properties and methods like so:
  </p>
      <pre>
  from geomancer.mancers.base import BaseMancer

  class MyGreatMancer(BaseMancer):

      name = 'The best mancer ever'
      machine_name = 'best_mancer'
      base_url = 'http://lotsadata.gov/api'
      info_url = 'http://lotsadata.gov'
      description = 'This is probably the best mancer ever written'

      def column_info(self):
          return 'woo'

      def search(self, geo_ids=None, columns=None):
          return 'woo'

      def geo_lookup(self, search_term, geo_type=None):
          return 'woo'
      </pre>
      <p>
          Detailed information about how the responses from these
          methods should be structured as well as two example mancers
          can be found in the
          <a href="https://github.com/associatedpress/geomancer/tree/master/geomancer/mancers" target="_blank">Github repository</a>.
      </p>
  <h3>Step 3: Add a <code>GeoType</code> (optional)</h3>
      <p>
          Does your mancer offer data that relates to geographic areas that are not
          currently offered by Geomancer? This is also built in an extensible way. Each
          <code>GeoType</code> is implemented as a subclass that expects
          a few static properties to be overridden:
      </p>
      <pre>
  from geomancer.mancers.geotype import GeoType

  class WizardSchoolDistrict(GeoType):
      human_name = 'Wizard school district'
      machine_name = 'wizard_school_district'
      formatting_notes = 'Full name of a school district for wizards and witches'
      formatting_example = 'Hogwarts School of Witchcraft and Wizardry'

      </pre>
      <p>
          More details on how to implement a new <code>GeoType</code> can be found
          <a href="https://github.com/associatedpress/geomancer/blob/master/geomancer/mancers/geotype.py" target="_blank">here</a>.
      </p>
  <h3>Step 4: Register your mancer in the application cofiguration</h3>
      <p>
          The basic configuration options for Geomancer exist in <code>app_config.py</code>.
          Add the import path to the module where you wrote your mancer and you should start seeing it as an option when you run the app.
      </p>

      <pre>
MANCERS = (
    'geomancer.mancers.census_reporter.CensusReporter',
    'geomancer.mancers.usa_spending.USASpending',
    'geomancer.mancers.my_mancer.MyMancer',
)
      </pre>
  <h3>Step 4a (optional): Add API keys to app_config.py</h3>
      <p>
          If the API that you are using requires an API key, you can add that into <code>app_config.py</code> like so:
      </p>
      <pre>
MANCER_KEYS = {
    'wizard_school_district' : 'biGl0ngUu1dT4ing',
}
      </pre>
      <p>
          The key should (i.e. <code>wizard_school_district</code>) should match the value you used for the <code>machine_name</code> of your mancer class.
      </p>
  <h3>Step 5: Submit a pull request!</h3>
      <p>
          If you'd like to share your work with the rest of the world,
          <a href='https://github.com/associatedpress/geomancer/compare'>submit a pull request</a>!
      </p>
</div>

{% endblock %}
