{% extends 'base.html' %}
{% block title %}Contribute data - Geomancer{% endblock %}
{% block content %}

<div class="col-md-12">
  <h1>How to contribute data to Geomancer</h1>
  <p>Do you have a data source you'd like to add to <strong>Geomancer</strong>? We built this as in an open, extensible platform, so anyone can contribute.</p>

  <div class='well'>
    <p>Note: adding a data source requires <strong>programming in Python</strong>.</p>
  </div>

  <h3>Step 1: Fork or clone the Geomancer repo</h3>

  <h3>Step 2: Create a new <code>mancer</code> class</h3>

  <h3>Step 3: Implement the <code>search</code> method</h3>

  <h3>Step 4: Implement the <code>geo_lookup</code> method</h3>

  <h3>Step 5: Register your <code>mancer</code> and test it</h3>

  <h3>Step 6: Submit a pull request!</h3>

</div>

{% endblock %}
