{% extends 'base.html' %}
{% block title %}Data sources - Geomancer{% endblock %}
{% block content %}

<div class='col-md-3'>
  <div class='well'>
    <h3>Data sources</h3>
    <ul>
      {% for d in data_sources %}
        <li><a href="#{{ d.machine_name }}">{{ d.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="col-md-9">
  <p class="h4"><strong>Geomancer</strong> currently has data from <span class="label label-default label-as-badge"><strong>{{ data_sources | length }}</strong></span> sources.</p>
  <p>Is there data that your newsroom would find useful, that isn't already here? You can adapt Geomancer by adding datasets/columns from existing data sources, or by adding a completely new data source.</p>
  <a href="{{ url_for('views.contribute_data') }}" class="btn btn-success">Learn how to contribute &gt;</a>
  <hr>

  {% for d in data_sources %}
    <h3 id="{{ d.machine_name }}">
      {{ d.name }}
      <small><a href='{{ d.info_url }}'>{{ d.info_url }}</a></small>
    </h3>
    <p>{{ d.description }}</p>
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th>Datasets available</th>
          <th>Geographies</th>
        </tr>
      </thead>
      <tbody>
        {% for table in d.data_types %}
        <tr>
          <td>{{ table.human_name }}</td>
          <td>
            {% for geo in table.geo_types %}
              <a href="{{ url_for('views.geographies') + '#' + geo.machine_name }}">{{geo.human_name}}</a><br />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>

{% endblock %}
