{% extends 'base.html' %}
{% block title %}Geomancer{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class='jumbotron'>
            <h1><i class='fa fa-file-text-o'></i> + <i class='fa fa-globe'></i> = <i class='fa fa-thumbs-o-up'></i> </h1>
            <h1>Geomancer</h1>
            <p>Add demographic data to any spreadsheet.</p>

            <p><a href="{{ url_for('views.upload') }}" class="btn btn-lg btn-success" role="button">Get started &gt; </a></p>

            <p><small>All you need is a spreadsheet that includes a column about a location, like city, state or congressional district.</small></p>

            <p><small>Take a look at the <a href="{{ url_for('views.data_sources') }}">data sources</a> and <a href="{{ url_for('views.geographies') }}">geographies</a> we support.</small></p>

        </div>

        <p class='text-center'>
            <a href='http://www.knightfoundation.org/'><img src="{{ url_for('static', filename='images/knight-logo.jpg') }}" alt='Knight Foundation' title='Knight Foundation'/></a>
            <a href='http://ap.org/'><img src="{{ url_for('static', filename='images/ap-logo.png') }}" alt='Associated Press' title='Associated Press' /></a>
        </p>

    </div>
</div>


{% endblock %}
