{% extends 'wizard_base.html' %}
{% block title %}Add data - Geomancer {% endblock %}
{% block wizard_content %}
<h2>2. Add data</h2>
<form id="mance-form" role="form">
    {% for field_name, info in fields.items() %}
        <h4>Column to match on: <strong>{{field_name}}</strong></h4>

        {% for mancer in mancer_data %}
            {% if mancer['data_types'] | length > 0 %}
                <h3>{{mancer.name}} <small><a href='{{mancer.info_url}}' target='_blank'>{{mancer.info_url}}</a></small></h3>
                <p>{{mancer.description}}</p>
                <table class='table table-bordered table-striped'>
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Data from {{mancer.name}}</th>
                            <th>Columns that will be added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for val in mancer['data_types'] %}
                            <tr class="table-row" data-table_id="{{ val.table_id }}">
                                <td>
                                    <input type="checkbox" class="table-select" data-table_id="{{ val.table_id }}"
                                    id="{{ info.column_index }}-{{ info.geo_type }}-{{ val.table_id }}"
                                    name="{{ info.column_index }}-{{ info.geo_type }}-{{ val.table_id }}" />
                                </td>
                                <td>
                                    <label for="{{ info.column_index }}-{{ info.geo_type }}-{{ val.table_id }}">
                                        {{val.human_name}}
                                    </label>
                                </td>
                                <td>
                                    {% if val.count %}
                                    <a href="javascript://" class="column-select" data-table_id="{{ val.table_id }}">
                                        <i class='fa fa-info-circle'></i>
                                        {{val.count}}
                                        {%- if val.count == 1 %} column
                                        {%- else %} columns
                                        {%- endif %}
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %} 
    {% endfor %}
    <button type="submit" class="btn btn-success">Next &gt;</button>
</form>
<div class="modal fade" id="column-modal"></div><!-- /.modal -->
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script>
        function repeatStr ( str, num ) {
            return new Array( num + 1 ).join( str );
        }
    </script>
    <script type="text/ejs" id="columnModalEJS">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"><%= table_title %></h4>
                </div>
                <div class="modal-body">
                    <% $.each(columns, function(i, column){ %>
                      <p><%= repeatStr("&nbsp;", parseInt(columns[i]['indent']) * 4) %><strong><%= columns[i]['column_title'] %></strong></p>
                    <% }) %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save-columns" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#mance-form').on('submit', function(e){
                e.preventDefault()
                var data = parseParams($(this).serialize());
                console.log(data)
                if($.isEmptyObject(data)){
                    $('#errors').remove();
                    var stuff = '<div id="errors"><br />';
                    stuff += '<div class="alert alert-dismissable alert-danger">';
                    stuff += '<p>Select at least one table to add to your spreadsheet</p>';
                    stuff += '</div></div>';
                    $('#navigation').append(stuff);
                } else {
                    var d = {}
                    $.each(data, function(key, i){
                        var vals = key.split('-');
                        if (typeof d[vals[0]] === 'undefined'){
                            d[vals[0]] = {
                                'type': vals[1],
                                'append_columns': []
                            }
                        }
                        d[vals[0]]['append_columns'].push(vals[2])
                    });
                    $.ajax({
                        url:"/api/geomance/",
                        type: 'POST',
                        data: JSON.stringify(d),
                        success: function(resp){
                            window.location = '/geomance/' + resp['session_key'];
                        },
                        processData: false,
                        contentType: 'application/json',
                    })
                }
            })
            $('.column-select').on('click', function(e){
                var table_id = $(this).data('table_id');
                $.when(load_table_columns(table_id)).then(
                    function(resp){
                        var template = new EJS({'text': $('#columnModalEJS').html()})
                        var modal_contents = template.render(resp);
                        $('#column-modal').html(modal_contents);
                        $('#column-modal').modal();
                    }
                );
            })
        })
        function load_table_columns(table_id){
            return $.getJSON('http://api.censusreporter.org/1.0/table/' + table_id)
        }
        function parseParams(query){
            var re = /([^&=]+)=?([^&]*)/g;
            var decodeRE = /\+/g;  // Regex for replacing addition symbol with a space
            var decode = function (str) {return decodeURIComponent( str.replace(decodeRE, " ") );};
            var params = {}, e;
            while ( e = re.exec(query) ) {
                var k = decode( e[1] ), v = decode( e[2] );
                if (k.substring(k.length - 2) === '[]') {
                    k = k.substring(0, k.length - 2);
                    (params[k] || (params[k] = [])).push(v);
                }
                else params[k] = v;
            }
            return params;
        }
    </script>
{% endblock %}
