{% extends 'wizard_base.html' %}
{% block title %}Select geography - Geomancer {% endblock %}
{% block wizard_content %}
<h2>2. Select geography</h2>
<h4>Select the column that holds geographic data</h4>
<form role="form" id="geotypes-form" action="{{ url_for('views.select_geo') }}" method="POST">
    <table class="table">
        <thead>
            <tr>
                <th width="30%">Geography type</th>
                <th width="15%">Column name</th>
                <th width="55%">Sample values</th>
            </tr>
        </thead>
        <tbody>
            {% for index,name,values,type_guess in session['sample_data'] %}
            <tr>
                <td data-column_index="{{ index }}">
                    <label>
                        <input id="column_{{ index }}" type="checkbox" class="geography" name="geo_type" />
                    </label>
                </td>
                <td>
                    <label for="column_{{ index }}">{{ name }}</label>
                </td>
                <td>
                    <label for="column_{{ index }}">{{ values }}</label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-success submit-types">Next ></button>
</form>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        var geo_types = [];
        $(document).ready(function(){
            $.getJSON('{{ url_for("api.geo_types") }}', {}, function(types){
                geo_types = types;
            });

            $('.geography').on('click', function(e){
                var parent = $(this).parent().parent()
                var col_index = $(parent).data('column_index')
                if(!$(this).is(':checked')){
                    $(parent).find('.geo_dropdown').remove();
                } else {
                    $('.geo_dropdown').remove();
                    $('.geo_hint').remove();

                    var dropdown = '<select class="geo_dropdown" name="geotype_' + col_index + '">';
                    var table = parent.parent().parent().parent()
                    $.each(geo_types, function(i, type){
                        dropdown += '<option value="' + type.info.machine_name + '">' + type.info.human_name + '</option>';
                    })

                    $(parent).append(dropdown);
                    updateHint('.geo_dropdown');

                    $('.geo_dropdown').on('change', function(e){
                        updateHint(this);
                    });
                }
            })
        })

        function updateHint(el){
            $('.geo_hint').remove();
            var selected_geo = $(el).val();
            var parent = $(el).parent()
            $.each(geo_types, function(i, type){
                if (type.info.machine_name == selected_geo) {
                    var hint = "<div class='well geo_hint'><p>" + type.info.formatting_notes + "</p><p><strong>Example</strong>: " + type.info.formatting_example + "</p></div>";
                    $(parent).append(hint);
                }
            })
        }

        function toTitleCase(str){
            return str.replace(/\w\S*/g, function(txt){
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
    </script>
{% endblock %}
