from os.path import join, abspath, dirname

SECRET_KEY = 'your secret key here'
CACHE_DIR = '/tmp'
REDIS_QUEUE_KEY = 'geomancer'
RESULT_FOLDER = abspath(join(dirname(__file__), 'result_folder'))
MAX_CONTENT_LENGTH = 10 * 1024 * 1024 # 10mb
ALLOWED_EXTENSIONS = set(['csv', 'xls', 'xlsx'])
SENTRY_DSN = ''

MANCERS = (
    'geomancer.mancers.census_reporter.CensusReporter',
    'geomancer.mancers.usa_spending.USASpending',
    'geomancer.mancers.bea.BureauEconomicAnalysis',
    'geomancer.mancers.bls.BureauLaborStatistics'
)

# key = mancer machine_name, val = API key
MANCER_KEYS = {
    'bureau_economic_analysis' : None,  # register at http://bea.gov/API/signup/index.cfm
    'bureau_labor_statistics' : None    # register at http://data.bls.gov/registrationEngine/
}
