{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include "progress_steps.html" %}
        <h2>Geomancing Commencing</h2>
        {% if errors %}
            {% for error in errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var session_key = "{{ session_key }}";
            poll_worker(session_key)
        })
        function poll_worker(session_key){
            $.ajax({
                url: "/api/geomance-results/" + session_key + "/",
                success: function(data){
                    if (data.ready){
                        display_results(data);
                    } else {
                        setTimeout(function(){poll_worker(session_key)}, 3000)
                    }
                }
            })
        }
        function display_results(data){
            console.log(data)
        }
    </script>
{% endblock %}
