{% extends 'base.html' %}
{% block content %}
{% if not sample_data %}
<div class="row">
    <div class="col-sm-12">
        <h2>Start mancing some geo</h2>
        {% if errors %}
            {% for error in errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
        <form role="form" class="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="input_file" id="input_file" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
      <form role="form" id="geotypes-form" action="{{ url_for('views.geomance') }}" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Column Name</th>
                        <th>Sample Values</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index,name,values in sample_data %}
                    <tr>
                      <td data-column_index="{{ index }}">
                            <label>
                                <input type="checkbox" class="geography" /> Geography Column
                            </label>
                        </td>
                        <td>{{ name }}</td>
                        <td>{{ values }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-default submit-types">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.geography').on('click', function(e){
                var parent = $(this).parent().parent()
                var col_index = $(parent).data('column_index')
                if(!$(this).is(':checked')){
                    $(parent).find('.geotype').remove();
                } else {
                    $.getJSON('{{ url_for("api.geo_types") }}', {}, function(types){
                        var item = '<select class="geotype" name="geotype_' + col_index + '">';
                        $.each(types, function(i, type){
                            item += '<option value="' + type.name + '">' + type.description + '</option>';
                        })
                        $(parent).append(item);
                    })
                }
            })
        })
    </script>
{% endblock %}
