{% extends 'base.html' %}
{% block title %}Geomancer{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class='jumbotron'>
            <h1>Geomancer</h1>
            <p>Add demographic data to any spreadsheet.</p>

            <a href="{{ url_for('views.upload') }}" class="btn btn-lg btn-success" role="button">Get started &gt; </a>
        </div>

        <p>To get started, all you need is a dataset that includes a column with geographic information, like city or state.</p>
        <p><strong>Examples:</strong></p>
        <ul>
            <li>Add population totals to crime count data</li>
            <li></li>
            <li></li>
        </ul>
        <br>
        <p>Geomancer is funded by a <a href="http://www.knightfoundation.org/grants/201342768/" target="blank">Prototype Grant</a> from the <a href='http://www.knightfoundation.org/'>Knight Foundation</a>.</p>
    </div>
</div>


{% endblock %}
