{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include "progress_steps.html" %}
        {% include "errors.html" %}
        <h2>2. Specify geography</h2>
        <h4>Select the column that holds geographic data</h4>
        <form role="form" id="geotypes-form" action="{{ url_for('views.select_tables') }}" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th width="30%">Geography Type</th>
                        <th width="15%">Column Name</th>
                        <th width="55%">Sample Values</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index,name,values in sample_data %}
                    <tr>
                        <td class="geo-column" data-column_index="{{ index }}">
                            <label>
                                <input type="radio" name="columns" class="geography" />
                            </label>
                        </td>
                        <td>{{ name }}</td>
                        <td>{{ values }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success submit-types">Next ></button>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.geography').on('click', function(e){
                var parent = $(this).parent().parent()
                var col_index = $(parent).data('column_index')
                if(!$(this).is(':checked')){
                    $(parent).find('.geo_dropdown').remove();
                } else {
                    $('.geo_dropdown').remove();
                    $.getJSON('{{ url_for("api.geo_types") }}', {}, function(types){
                        var item = '<select class="geo_dropdown" name="geotype_' + col_index + '">';
                        var table = parent.parent().parent().parent()
                        $.each(types, function(i, type){
                            item += '<option value="' + type.name + '">' + type.description + '</option>';
                        })
                        $(parent).append(item);
                    })
                }
            })
        })
    </script>
{% endblock %}
